footer {
    background-color: #595854;
    color: #fff;
    text-align: center!important;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

footer a, footer a:hover {
    color: #15b6b8;
    text-decoration: none;
}

.footer-text {
    padding: 1.5rem;
}
