#banner {
  background-image: url("/banner3_sm.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.caption {
  background: rgba(225, 255, 255, .5);
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5%;
} 

.names {
  list-style: none;
  font-size: 8vw;
  font-weight: 300;
}

ul.names li {
  display: inline-block;
}

#banner > .spacer {
  height: 90vw;
}

.circle {
  background: #f9667e;
  font-weight: normal;
  line-height: 1.5em;
  border-radius: 100px;
  margin: 10px;
  color: #fff;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 32px;
  line-height: 1em;
  top: -2px;
}

.date {
  font-weight: 600;
  padding: 10px;
}

.date > span {
  font-size: 24px;
}

.place {
  padding: 5px;
}

.countdown {
  margin-top: 20px;
  font-size: large;
}

.title {
  font-size: medium;
}

@media screen and (min-width: 600px) {
  #banner {
    background-image: url("/banner3.jpg");
    background-position: initial;
  }

  #banner > .spacer {
    height: 25vw;
  }

  .caption {
    background: rgba(225, 255, 255, .5);
    margin: 100px 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3%;
  }

  .names {
    font-size: 2vw;
    font-weight: 300;
  }

  .circle {
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 1em;
    border-radius: 50px;
    margin: 10px 30px;
  }

  .date {
    padding: 0;
  }

  .title {
    font-size: large;
  }
}